<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Wellcome to my app</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text"  id="username" name="username"placeholder="enter your username">
        <br>
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="enter your password">
        <br>
        <button type="submit"> Login </button>
    </form>
</body>
</html>